$app-bg: #f0f0f0;
$app-fg: #666;
$header-bg: #4caf50;
$table-header-bg: #4caf50;
$table-row-bg: white;
$table-row-hover-bg: #f2f2f2;
$error-color: #ff9999;

body {
  font-family: Arial, sans-serif;
  background-color: $app-bg;
  margin: 0;
  padding: 20px;
  width: 100vw;
  height: 100vh;
}

h1 {
  color: $app-fg;
  font-size: 28px;
  margin-bottom: 12px;
}

h2 {
  margin-bottom: 12px;
  color: $app-fg;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 20px;
}

table {
  width: calc(100vw - 40px);
  max-height: calc(100vh - 200px);
  border-collapse: collapse;
  margin-bottom: 40px;
  border: 2px solid $app-fg;
  border-radius: 4px;

  th {
    background-color: $app-fg;
    color: white;
    padding: 10px;
    text-align: left;
    height: 46px;
  }

  td {
    height: 46px;
    padding: 10px;
  }

  tr:nth-child(2n) {
    background-color: #f0f0f0;

    &:hover {
      background-color: rgba($color: $header-bg, $alpha: 0.08);
      cursor: pointer;
    }
  }

  tr:nth-child(2n + 1) {
    background-color: #ffffff;

    &:hover {
      background-color: rgba($color: $header-bg, $alpha: 0.08);
      cursor: pointer;
    }
  }

  .select-article {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    button {
      margin: 0 5px;
      padding: 5px 10px;
      border: none;
      background-color: #4caf50;
      color: white;
      cursor: pointer;
      border-radius: 5px;

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;

  .cmd-back, .cmd-submit, .cmd-complete, .cmd-close {
    width: 8vw;
    height: 54px;
    background-color: $header-bg;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
  }

  .right {
    width: 25vw;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  input[type="text"],
  input[type="date"] {
    padding: 10px;
    border: 2px solid $app-fg;
    border-radius: 4px;
    width: 21vw;
    height: 60px;
    margin-bottom: 20px;
    font-size: 18px;

    &:focus {
      border-color: $header-bg;
      outline: none;
    }
  }

  input[name="deliveryDateFrom"],
  input[name="deliveryDateTo"] {
    width: 8vw;
  }

  button {
    padding: 10px 15px;
    width: 20vw;
    height: 60px;
    background-color: $header-bg;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: $header-bg;
    }
  }
}
